hr {
  height: 2px;
  border-radius: 5px;
  border: none;
  background-color: #a02745;
}

.card {
  background-color: var(--light-color);
  padding: min(1em, 2%);
  font-weight: bold;
  display: flex;
  gap: 5px;
  border-radius: 5px;
}

.active {
  color: var(--green-color);
}

.not-active {
  color: gray;
  font-weight: bold;
}

.info {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info > p:first-child {
  justify-self: center;
  font-size: 1.2rem;
  padding-bottom: 7px;
}

.buttons {
  flex: 2;
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-items: center;;
}

.cards-container {
  display: grid;
  gap: 20px;
  margin: min(1em, 2%);
}

.midblock {
  background-color: var(--background-secondary);
  padding-right: min(3em, 5%);
  padding-left: min(3em, 5%);
  padding-bottom: min(3em, 5%);
  padding-top: min(3em, 5%);
  border-radius: 5px;
  text-align: center;
}

.main {
  padding: min(3em, 3%);
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
  font-size: 1rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--light-color);
  font-weight: bold;
}

.go-back {
  background-color: var(--background-secondary);
  padding: min(1em, 10%);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: var(--light-color);
  box-sizing: border-box;
  word-break: break-all;
  font-size: 0.7rem;
}

.page-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-add {
  font-style: italic;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.page-head > h2 {
  color: #63172a;
  font-size: min(1.5em, 30vh);
  padding: 5px;
}

.add-button-round {
  width: 48px;           
  height: 48px;          
  border-radius: 50%;
  border: 2px solid rgb(87, 87, 87);    
  background-color: var(--background-primary);
  color: #f0f0f5;
  display: flex;         
  align-items: center;
  justify-content: center;
  font-size: 20px;               
  cursor: pointer;    
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent; 
}

/* desktop cards  */
@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .main {
    padding: min(2em, 2%);
  }

  .add-button-round {
    display: none;
  }

  nav {
    display: flex;
    gap: 10px;
    border: none;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    height: auto;
  }

  .go-back {
    flex: 1;
    padding: min(2em, 1%);
    font-size: 1rem;
  }

  .midblock {
    flex: 8;
    padding: min(2em, 1%);
  }

}
/* wider desktop cards  */
@media (min-width: 1100px) { 
  .cards-container {
  grid-template-columns: 1fr 1fr 1fr;
  }
}

/* responsive  */
@media (max-width: 240px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .go-back, .midblock {
    width: 80vw;
    color: #f0f0f5;
    font-size: 80%;
    word-break: keep-all;
  }

  .page-head {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .add-button-round {
    width: 30px;
    height: 30px;
    font-size: 20px; 
  }

  .info > p:first-child {
    padding-bottom: 0;
    font-size: 1rem;
  }
}

@media (max-width: 94px) {
  .go-back, .midblock {
  word-break: break-all;
  }
}
