.toast-container {
  position: fixed;
  bottom: 20px;
  left: 20vw;
  right: 20vw;
  align-self: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  transform: translateY(-50%);
  word-break: normal;
}

.toast {
  position: relative;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  padding: 14px 24px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  animation: slideIn 0.5s ease forwards;
  opacity: 0;
}


.toast-success {
  background: #2ecc70cb;
}

.toast-error {
  background: #e74d3cd3;
}

.toast-delete {
  background: gray;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 300px) {
  .toast {
    font-size: 0.7rem;
    padding: 7px 7px;
  }
}

@media (max-width: 190px) {
  .toast {
    font-size: 0.6rem;
    padding: 3px 3px;
    word-break: break-all;
  }
}